.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 37px 24px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.cards__more {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.cards__more-btn {
  width: 320px;
  height: 36px;
  border: none;
  border-radius: 6px;
  background-color: #f9f9f9;
  font-size: 12px;
  font-weight: 500;
  color: #000;
  cursor: pointer;
  transition: opacity .2s ease;
}

.cards__more-btn:hover {
  opacity: .7;
}

@media screen and (max-width: 768px) {
  .cards {
    gap: 30px;
  }
}

@media screen and (max-width: 525px) {
  .cards {
    row-gap: 14px;
  }

  .cards__more-btn {
    width: 240px;
  }
}