.promo {
  height: 524px;
  padding-top: 184px;
  background-image: url("../../../images/landing-logo.svg");
  background-size: 320px;
  background-repeat: no-repeat;
  background-position: center 82px;
  background-color: #465dff;
}

.promo__title {
  max-width: 730px;
  margin: 0 auto;
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -0.04em;
  text-align: center;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .promo {
    height: 784px;
    padding-top: 326px;
    background-position: center 224px;
  }
}

@media screen and (max-width: 525px) {
  .promo {
    height: 570px;
    padding-top: 207px;
    background-size: 248px;
    background-position: center 142px;
  }

  .promo__title {
    font-size: 30px;
    line-height: 38px;
  }
}