.movies {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 80px;
}

.movies__filter {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
  padding-bottom: 40px;
  border-bottom: 1px solid #e8e8e8;
}

.movies__container {
  padding-top: 70px;
}

.movies__not-found-text {
  margin: 0;
  font-size: 36px;
}


@media screen and (max-width: 525px) {
  .movies__filter {
    row-gap: 45px;
    padding-bottom: 45px;
  }

  .movies__not-found-text {
    font-size: 24px;
  }
}